
input[type=text], select, textarea {
    width: 100%; 
    padding: 12px;  
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
}

h1{
    font-size: 15.5vw;
    font-weight: bold;
    margin: 0;
    
}

.h1F {
    text-align: right;
    /* width: 200px; */
}
    
#mainContact {
    margin-right: 500px;
    margin-top: 35px;
} 

.ui.inverted.segment, .ui.primary.inverted.segment{
    background-color: black;
}

.ui.teal.button {
    margin-left: -1.3rem;
    font-size: 1.5rem;
}


/* input[type=submit], select, textarea {
    
    background-color: white;
    color: #ffffff; 
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 410px;
} */
    
input[type=submit]:hover {
    background-color: #CBC8CE ;
}
    
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.vWhite{
    background-color: white;
    color: black;
}

.email {
    font-size: 60px;
}

form{
    width: 550px;
}

