body{
    
    width: auto!important;
    overflow-x: hidden!important;
    background-color: black;
    color: white;
    text-rendering: optimizeLegibility;
    margin: auto;
    max-width: auto;
    
}